---
layout: default
---

<main id="main" style="margin: 0 auto; --main-width: 100ch;">
  <style>
    sl-alert[banner]::part(base) {
      font-size: 1.5rem;
      padding: 1rem;
    }

    sl-alert[banner]::part(base) {
      background-color: var(--sl-color-danger-100);
      color: var(--sl-color-danger-800)
    }
  </style>
  <sl-alert open variant="danger" banner>
    <sl-icon slot="icon" name="exclamation-octagon" style=""></sl-icon>
    This library is still in beta. More documentation to come.
  </sl-alert>

  <div class="hero--mobile">
    <%= render "logo" %>
  </div>

  <h1 class="slogan">
    <%= site.metadata.slogan %>
  </h1>

  <ul class="call-to-action__items" style="list-style: none;">
    <% resource.data.call_to_action_items.each do |item| %>
      <li>
        <sl-button variant="<%= item[:type] %>" href="<%= site.config.base_path_with_trailing_slash + item[:href] %>" class="call-to-action" pill>
          <%= item[:text].to_s.html_safe %>
        </sl-button>
      </li>
    <% end %>
  </ul>

  <h2 class="reason__header" style="margin-top: 2rem;"><%= resource.data.reason_header %></h2>

  <section class="reason__grid">
    <% resource.data&.reasons&.each do |reason| %>
      <article>
        <h3><%= reason[:header] %></h3>
        <p style="margin: 0; padding: 0.25em var(--sl-spacing-x-small);">
          <%= reason[:text] %>
        </p>
      </article>
    <% end %>
  </section>

  <%= yield %>
</main>


